/* reset */
*,
*::before,
*::after{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    overflow:hidden;
}
.header{
    position: absolute;
    z-index:999;
    background: purple;
    height:6rem;
    width:100%;
}

.header h2{
    padding-top:2rem;
    color:black;
    text-align: center;
}

#canvas-sheet{
    margin-top: 5px;
    height: 100%;
    position: absolute;
    width:100%;
    background: black;
}